.c-button {
  padding: rem(14) 0 rem(7);
  display: block;
  max-width: 320px;
  line-height: 1;
  background-color: $color-secondary;
  color: $color-white;
  cursor: pointer;
  font-family: $font-hand;
  font-size: rem(20);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;

  @include breakpoint($bp-mobile-only) {
    margin-left: auto;
    margin-right: auto;
  }

}
