@include breakpoint($bp-mobile-only) {
  .c-history {
    margin-bottom: $base-spacing-unit;
  }
}

.c-history h3 {
  font-family: $font-niconne;
  font-size: rem(47);
  color: $color-primary;
}

.c-history p {
  font-family: $font-niconne;
  font-size: rem(25);
  color: $color-primary;
}

.c-history__quote {
  padding-top: rem(5);
  padding-bottom: rem(5);
  font-family: $font-niconne;
  font-size: rem(25);
  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid $color-secondary;
}

@include breakpoint($bp-large){

  .c-history {
    @include span(6 of 12);
  }

  .c-history__quote {
    background-image: url('../images/bg-history-quote.png');
    background-repeat: no-repeat;
    padding-left: rem(150);
    padding-top: rem(18);
    min-height: rem(100);
    max-width: 420px;
    border-width: 0;
  }

}

// Location Box

.c-location-box {
  margin-bottom: $base-spacing-unit;
}

.c-location-box h4 {
  color: $color-primary;
  font-family: $font-fredericka;
  font-size: rem(24);
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    display: inline-block;
    content: "\2014";
    margin-left: rem(5);
    margin-right: rem(5);
  }

}

.c-location-box__map {
  position: relative;
  margin-bottom: rem(10);
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  border: 7px solid $color-border;
}

.c-location-box__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
}

.c-location-box__address {
  color: $color-primary;
  font-family: $font-niconne;
  font-size: rem(24);
  text-align: center;
}

@include breakpoint($bp-large) {

  .c-location-box {
    @include span(6 of 12);
    margin-bottom: 0;
    background-image: url('../images/bg-iframe.png');
    background-repeat: no-repeat;
  }

  .c-location-box h4 {
    margin-top: rem(25);
    line-height: 1;
  }

  .c-location-box__map {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 65%;
  }

  .c-location-box__address {
    font-size: rem(30);
    text-align: left;
    padding-left: rem(100);
    margin-bottom: rem(30);
  }

}
