.menu {
  margin: 0;
  margin-bottom: $base-spacing-unit;
  padding-top: rem(40);
  text-align: center;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: $base-spacing-unit / 2;

    font-size: rem(20);
    font-family: $font-hand;
    line-height: 1;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $color-white;
  }

  // Large

  @include breakpoint($bp-large) {

    padding-top: rem(33);

    li {
      font-size: rem(35);
    }

  }

}
