.c-carousel {
  background-color: green;
  margin-bottom: $base-spacing-unit;
  border: 7px solid $color-border;
  box-shadow: 0 0 1px $color-black;


  .slick-slide img {
    width: 100%;
    height: auto;
  }

}

