.c-products {
  @include clearfix;
}

.c-products__title {
  font-family: $font-niconne;
  font-size: rem(28);
  font-weight: 400;
  text-align: center;
  color: $color-primary;

  @include breakpoint($bp-large) {
    font-size: rem(32);
  }

}

.c-products__content {

  @include breakpoint($bp-large) {
    float: right;
    width: 34%;
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    @include breakpoint($bp-large) {
      margin-bottom: $base-spacing-unit;
    }

    &::after {
      display: inline-block;
      content: "\2014";
      text-align: center;
      width: 100%;
      color: $color-primary;
      font-size: rem(32);
    }

  }

  li {
    font-family: $font-fredericka;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: $color-primary;
    font-size: rem(24);

    @include breakpoint($bp-large) {
      font-size: rem(36);
    }

  }
}

@include breakpoint($bp-large) {

  .c-products__image {
    float: right;
    width: 66%;
  }

}
