.c-carousel-wrapper {
  position: relative;

  &::after {
    position: absolute;
    top: 80%;
    bottom: 15px;
    left: auto;
    right: 10px;
    z-index: -1;

    content: "";
    width: 50%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(3deg);
  }
}

.c-carousel {
  position: relative;
  background-color: $color-bg;
  margin-bottom: $base-spacing-unit * 2;
  border: 7px solid $color-border;
  box-shadow: 0 0 1px $color-black;

  @include breakpoint($bp-medium) {

    &::before,
    &::after, {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      width: 52px;
      height: 54px;
    }

    &::before {
      top: -20px;
      right: -20px;
      background-image: url('../images/carousel-border-top.png');
    }

    &::after {
      bottom: -20px;
      left: -20px;
      background-image: url('../images/carousel-border-bottom.png');
    }

  }

  .slick-slide img {
    width: 100%;
    height: auto;
  }

}

