.menu {
  margin: 0;
  margin-bottom: $base-spacing-unit;
  padding-top: rem(40);
  text-align: center;
  list-style-type: none;

  li {
    position: relative;
    display: inline-block;
    margin-right: $base-spacing-unit / 2;

    font-size: rem(20);
    font-family: $font-hand;
    line-height: 1;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $color-white;
  }

  // Large

  @include breakpoint($bp-large) {

    padding-top: rem(33);

    li {
      font-size: rem(35);
      text-align: left;
      margin-right: 0;

      &.current-menu-item::after {
        position: absolute;
        bottom: -20px;
        width: 100%;
        text-align: center;
        display: inline-block;
        content: "\2014";
        text-align: center;
        // width: 100%;
        color: $color-white;
        font-size: rem(32);
      }
    }

    li:nth-child(1) {
      width: rem(120);
      padding-left: rem(10);

      &::after {
        left: 10px;
      }
    }

    li:nth-child(2) {
      width: rem(200);
      padding-left: rem(68);

      &::after {
        left: 0;
      }
    }

    li:nth-child(3) {
      width: rem(270);
      text-align: right;

      &::after {
        left: 80px;
      }
    }

    li:nth-child(4) {
      padding-left: rem(38);

      &::after {
        left: 20px;
      }
    }

  }

}
