.menu {
  text-align: center;
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: $base-spacing-unit / 2;

    font-size: rem(20);
    font-family: $font-hand;
    line-height: 1;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $color-white;
  }
}
