.icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-clock-o {
  width: 0.8571428571428571em;
}

.icon-certificate {
  width: 0.8571428571428571em;
}

.icon-arrow-left {
  width: 0.375em;
}

.icon-arrow-right {
  width: 0.33928571428571425em;
}

.icon-spinner {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
  fill: white;
  width: 1.5em;
  height: 1.5em;
}
