input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea {
  width: 100%;
  margin-bottom: $base-spacing-unit / 2;
  border-width: 1px;
  border-style: solid;
  // border-color: $color-brown;
  font-size: rem(14);
  padding: rem(9) rem(14);
  // background-color: $color-white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5)
}

textarea {
  min-height: 134px;
}

input[type="submit"] {
  background-color: $color-secondary;
  border-width: 0;
  color: $color-white;
  cursor: pointer;
  font-family: $font-hand;
  font-size: rem(20);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 5px;

  &:hover, &:focus {
    outline: none;
  }
}

form label {
  display: block;
  color: $color-primary;
  font-family: $font-niconne;
  font-size: rem(28);

  @include breakpoint($bp-large) {
    font-size: rem(35);
  }
}

form p {
  padding-bottom: rem(5);
  text-align: center;
  border-bottom: 1px dashed $color-primary;

  @include breakpoint($bp-large) {
    font-family: $font-niconne;
    color: $color-primary;
    font-size: rem(24);
  }
}