.site-footer {
  border-top: 1px dashed $color-secondary;
  padding-top: $base-spacing-unit / 2;
}

.site-info-contact {
  background-color: $color-bg;
  padding-bottom: $base-spacing-unit / 2;
  color: $color-secondary;


}


.site-info-contact__content {
  text-align: center;
  font-family: $font-fredericka;

  a {
    color: $color-secondary;
    font-size: rem(18);
  }

  .site-info-phone {
    display: block;
    font-size: rem(24);
  }

  @include breakpoint($bp-large) {

    @include container;

    a {
      float: right;
    }

    .site-info-phone {
      display: inline;
      float: left;
    }
  }
}


.site-info {
  border-top: 1px dashed $color-secondary;
  padding-top: $base-spacing-unit;
  text-align: center;
  font-size: rem(12);
  // padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
}
