// Header

.site-header {
  position: relative;
  background-image: url('../images/bg-menu.png');
  background-repeat: repeat-x;
}

.site-title {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image

  // a {
  //   display: block;
  //   width: 256px;
  //   height: 71px;
  // }
}

.site-description {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image

  // a {
  //   display: block;
  //   width: 232px;
  //   height: 16px;
  // }
}
