// Header

.site-header {
  position: relative;
  background-image: url('../images/bg-menu.png');
  background-repeat: repeat-x;
  min-height: 104px;
}

.site-title {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/sprites/logo-la-merced-small.png');
  width: 179px;
  height: 180px;
  // layout
  margin-left: auto;
  margin-right: auto;

  a {
    display: block;
    width: 179px;
    height: 180px;
  }
}

.site-description {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/sprites/short-description--small.png');
  width: 310px;
  height: 52px;
  // layout
  margin-left: auto;
  margin-right: auto;

  a {
    display: block;
    width: 310px;
    height: 52px;
  }
}
