// Settings
@import "settings-global";

// Mixins
@import "bourbon";
@import "breakpoint";
@import "susy";

// Generic
@import "generic-box-sizing";
@import "generic-normalize";
@import "generic-reset";
@import "generic-shared";

// Elements
@import "elements-page";
@import "elements-links";
@import "elements-icons";

// Slick
@import "slick";
@import "slick-theme";

// Accessibility
@import "accessibility";


// Site

.site {
  // padding-top: $base-spacing-unit;
}

p {
  font-size: rem(14);
  line-height: $base-line-height;
}

// site content

.site-content {
  position: relative;
}

.site-main {
  @include container;

  @include breakpoint($bp-mobile-only) {
    margin-left: gutter();
    margin-right: gutter();
  }
}

.entry-title {
  color: $color-secondary;
  font-family: $font-fredericka;
  font-size: rem(32);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;

  &::before,
  &::after {
    display: inline-block;
    content: "\2014";
    margin-left: rem(5);
    margin-right: rem(5);
  }

  @include breakpoint($bp-large) {
    font-size: rem(50);
  }
}

.entry-content {
}


.u-clearfix {
  @include clearfix;
}

.u-hidden {
  display: none !important;
}

// components

@import "site-header";
@import "site-footer";
@import "components-anchor-nav";
@import "components-carousel";

// objects

@import "objects-form";

// helpers

@import "helpers-text";

// Button

.c-button {
  padding: rem(14) 0 rem(7);
  display: block;
  max-width: 320px;
  line-height: 1;
  background-color: $color-secondary;
  color: $color-white;
  cursor: pointer;
  font-family: $font-hand;
  font-size: rem(20);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;

  @include breakpoint($bp-mobile-only) {
    margin-left: auto;
    margin-right: auto;
  }

}


// Homepage

.c-message {
  padding-bottom: rem(240);
  text-align: center;
  background-image: url('../images/productos-frescos.png');
  background-repeat: no-repeat;
  background-position: top 100px center;
  background-size: contain;

  @include breakpoint($bp-medium) {
    padding-bottom: rem(400);
    background-size: auto auto;
  }

  @include breakpoint($bp-large) {
    min-height: 430px;
    padding-bottom: 0;
    text-align: left;
    background-position: bottom right;
    background-size: auto auto;

    .c-message__word {
      display: block;
    }

    .c-message__word:nth-child(1) {
      font-size: rem(52);
      line-height: rem(55);
    }

    .c-message__word:nth-child(2) {
      font-size: rem(40);
      line-height: rem(42);
    }

    .c-message__word:nth-child(3) {
      font-size: rem(77);
      line-height: rem(79);
    }

  }
}
